@import url('https://rsms.me/inter/inter-ui.css');

:root {
  --main: #3F51B5;
}
body {
  font-family: 'Inter UI', serif;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.canvas {
  background: #FAFAFA;
  z-index: 98;
}
.name {
  z-index: 99;
  position: absolute;
  text-align: center;
}
.caption {
  margin: 1vh 0;
}
.caption a {
  color: var(--main);
}
.subtext {
  color: var(--main);
  font-size: 2vh;
}
.presets {
  font-size: 3vh;
  font-weight: 700;
  text-align: center;
}
.preset {
  display: inline-block;
  cursor: pointer;
  color: var(--main);
  transition: transform 0.2s ease-in-out;
  margin: 0 12px;
}
.letter:hover {
  transform: scale(1.2);
}
